<div class="container text-center">
    <h1 class="mb-4" style="margin: 58px 0 16px;">Employee Details</h1>
    <div  class="d-flex justify-content-center mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text"><strong>ID:</strong> {{ employee.id }}</p>
          <p class="card-text"><strong>Name:</strong> {{ employee.name }}</p>
          <p class="card-text"><strong>Email:</strong> {{ employee.email }}</p>
          <p class="card-text"><strong>Phone:</strong> {{ employee.phone }}</p>
          <p class="card-text"><strong>Address:</strong> {{ employee.address }}</p>
          <button class="btn btn-primary mt-4" (click)="goBack()">Back</button>
        </div>
      </div>
    </div>
  </div>
  
  
  


